<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.fittnerserver.mapper.user.sign.SignMapper">

    <select id="selectReservationByTrainerIdAndCenterIdCnt" resultType="int">
        /* SignMapper.selectReservationByTrainerIdAndCenterIdCnt */
        select count(*)
          from reservation a
     left join member b
            on a.member_id = b.member_id
         where a.trainer_id = #{trainerId}
           and a.center_id = #{centerId}
           and a.reservation_delete_yn = 'N'
           and a.reservation_start_date = #{reservationStartDate}
    </select>

    <select id="selectReservationByTrainerIdAndCenterId" resultType="SignResrvationDto">
        /* SignMapper.selectReservationByTrainerIdAndCenterId */
        select all_list.ticket_id
             , all_list.reservation_id
             , all_list.member_name
             , all_list.reservation_start_time
             , all_list.reservation_end_time
             , all_list.reservation_memo
             , all_list.reservation_status
             , all_list.reservation_use_cnt
          from (select a.ticket_id
                     , a.reservation_id
                     , b.member_name
                     , a.reservation_start_time
                     , a.reservation_end_time
                     , a.reservation_memo
                     , a.reservation_status
                     , (select aa.use_cnt
                          from (select reservation_id
                                     , ROW_NUMBER() OVER (ORDER BY reservation_start_date , reservation_start_time) as use_cnt
                                  from reservation
                                 where ticket_id = a.ticket_id
                                   and reservation_delete_yn = 'N'
                                ) aa
                          where aa.reservation_id = a.reservation_id
                       ) as reservation_use_cnt
                     , ROW_NUMBER() OVER (ORDER BY reservation_start_date DESC, reservation_start_time DESC) AS row_num
                  from reservation a
             left join member b
                    on a.member_id = b.member_id
                 where a.reservation_delete_yn = 'N'
                   and a.reservation_start_date = #{reservationStartDate}
                   and a.trainer_id = #{trainerId}
                   and a.center_id = #{centerId}
               ) all_list
        where all_list.row_num > case when #{currentPageNo} is null or #{currentPageNo}=0 or #{currentPageNo}=1 then 0 else (#{currentPageNo}-1)*10 end
          and all_list.row_num <![CDATA[<=]]> #{currentPageNo}*10

    </select>

    <select id="selectReservationByTicketId" resultType="SignResrvationForMemberResDto">
        /* SignMapper.selectReservationByTicketId */
        select all_list.member_name
             , all_list.reservation_start_date
             , all_list.reservation_start_time
             , all_list.reservation_end_time
             , all_list.member_id
             , all_list.reservation_status
             , all_list.reservation_id
             , all_list.row_num_asc as reservation_use_cnt
          from (select b.member_name
                     , b.member_id
                     , a.reservation_start_date
                     , a.reservation_start_time
                     , a.reservation_end_time
                     , a.reservation_status
                     , ROW_NUMBER() OVER (ORDER BY a.reservation_start_date , a.reservation_start_time) as row_num_asc
                     , ROW_NUMBER() OVER (ORDER BY a.reservation_start_date DESC, a.reservation_start_time DESC) AS row_num
                     , a.reservation_id
                  from reservation a
             left join member b
                    on a.member_id = b.member_id
                 where a.reservation_delete_yn = 'N'
                   and a.ticket_id = #{ticketId}
                   and a.trainer_id = #{trainerId}
               ) all_list
        where all_list.row_num > case when #{currentPageNo} is null or #{currentPageNo}=0 or #{currentPageNo}=1 then 0 else (#{currentPageNo}-1)*10 end
          and all_list.row_num <![CDATA[<=]]> #{currentPageNo}*10
    </select>

    <insert id="insertSign">
        /* SignMapper.insertSign */
        insert into sign (
                    sign_memo
                  , created_by
                  , created_date
                  , file_group_id
                  , member_id
                  , reservation_id
                  , sign_id
                  , sign_type
          ) values (
                    #{signReqDto.signMemo}
                  , #{trainerId}
                  , CURRENT_TIMESTAMP
                  , #{signReqDto.fileGroupId}
                  , #{signReqDto.memberId}
                  , #{signReqDto.reservationId}
                  , UUID()
                  , #{signReqDto.signType}
          )
    </insert>
</mapper>








