<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.fittnerserver.mapper.user.reservation.ReservationMapper">
    <select id="selectReservationForCount" resultType="int">
        select count(*)
          from reservation
         where reservation_delete_yn = 'N'
           and concat(reservation_start_date, reservation_start_time) <![CDATA[>=]]> DATE_FORMAT(NOW(), '%Y%m%d%H%i')
    </select>

    <select id="selectReservationByReservationId" resultType="ReservationDto">
        /* TicketMapper.selectReservationByReservationId */
        select reservation_id
             , reservation_start_date
             , reservation_end_date
             , reservation_start_time
             , reservation_end_time
             , reservation_memo
             , reservation_color
             , reservation_delete_yn
             , reservation_status
             , trainer_settlement_amount
             , trainer_settlement_change_amount
             , reservation_push
             , trainer_settlement_id
             , center_id
             , trainer_id
             , member_id
             , ticket_id
          from reservation
         where reservation_id = #{reservationId}
           and reservation_delete_yn = 'N'
    </select>

    <update id="updateReservationForSign">
        /* TicketMapper.updateReservationForSign */
        update reservation
           set reservation_status = #{reservationStatus}
             , modified_by = #{trainerId}
             , modified_date = CURRENT_TIMESTAMP
         where reservation_id = #{reservationId}
    </update>

    <update id="updateReservationForSettlement">
        /* TicketMapper.updateReservationForSettlement */
        update reservation
           set trainer_settlement_amount = #{settlementPrice}
             , trainer_settlement_id = #{trainerSettlementId}
             , modified_by = #{trainerId}
             , modified_date = CURRENT_TIMESTAMP
         where reservation_id = #{reservationId}
    </update>

</mapper>








