<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">

    <!-- 로그 파일이 저장될 경로 -->
    <springProperty name="profile" source="spring.profiles.active" defaultValue=""/>
    <property resource="logback-${profile}.properties"/>
    <property name="LOG_PATH" value="${log.config.path}"/>
    <!-- 로그 파일 이름 -->
    <property name="LOG_FILE_NAME" value="serviceLog"/>
    <property name="ERROR_LOG_FILE_NAME" value="error"/>

    <!-- 로그 출력 패턴 -->
    <property name="LOG_PATTERN" value="[%X{request_id:-startup} %d{yyyy-MM-dd HH:mm:ss} %level %logger{0}:%line] - %msg%n"/>

    <!-- 로그 레벨 -->
    <property name="LOG_LEVEL" value="info"/>

    <!-- CONSOLE에 로그 출력 세팅 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%X{request_id:-startup}] %d{yyyy-MM-dd HH:mm:ss.SSS} - %level : %30logger{5} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- File에 로그 출력 세팅 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 파일 경로 설정 -->
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>

        <!-- 출력패턴 설정-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 파일 이름 패턴 설정 -->
            <fileNamePattern>${LOG_PATH}/beforeLogs/%d{yyyy-MM-dd}/${LOG_FILE_NAME}_%i.log</fileNamePattern>
            <!-- 파일당 최고 용량 설정 -->
            <maxFileSize>5mb</maxFileSize>
            <!-- 일자별 로그파일 최대 보관주기 설정 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Error 로그만 별도로 저장하는 설정 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 초기 파일 경로를 지정하지 않고 rolling policy에 의존 -->
        <file></file>

        <!-- 출력패턴 설정 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일 이름 패턴 설정 -->
            <fileNamePattern>${LOG_PATH}/error/error_%d{yyyyMMdd}.log</fileNamePattern>
            <!-- 보관할 로그의 최대 일수 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 로그 전역 세팅 -->
    <root level="${LOG_LEVEL}">
        <!-- 위에 설정한 콘솔 설정 추가 -->
        <appender-ref ref="CONSOLE"/>

        <!-- 위에 설정한 파일 설정 추가 -->
        <appender-ref ref="FILE"/>
    </root>

    <!-- ERROR 로그 전용 설정 -->
    <logger name="kr.co.fittnerserver" level="error" additivity="false">
        <!-- Error 파일 로그 출력 -->
        <appender-ref ref="ERROR_FILE"/>
    </logger>

</configuration>
