<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.fittnerserver.mapper.user.push.PushMapper">
    <select id="pushChk" resultType="PushChkResDto">
        /* PushMapper.pushChk */
        select case when count(*) > 0 then 'Y'
                    else 'N'
                end as new_push_yn
          from push
         where trainer_id = #{trainerId}
           and push_read_yn = 'N'
    </select>

    <select id="selectPushByTrainerId" resultType="PushResDto">
        /* PushMapper.selectPushByTrainerId */
        select all_list.push_id
             , all_list.push_title
             , all_list.push_content
             , all_list.push_read_yn
             , all_list.push_date
          from (select push_id
                     , push_title
                     , push_content
                     , push_read_yn
                     , push_date
                     , ROW_NUMBER() OVER (ORDER BY push_date DESC, push_time DESC) AS row_num
                  from push
                 where trainer_id = #{trainerId}
            ) all_list
        where all_list.row_num >= case when #{currentPageNo} is null or #{currentPageNo}=0 or #{currentPageNo}=1 then 0 else (#{currentPageNo}-1)*10 end
          and all_list.row_num <![CDATA[<=]]> #{currentPageNo}*10
    </select>

    <update id="updatePushByPushId">
        /* PushMapper.updatePushByPushId */
        update push
           set push_read_yn = 'Y'
             , modified_by = #{trainerId}
             , modified_date = CURRENT_TIMESTAMP
         where push_id = #{pushId}
    </update>

</mapper>








